body {
    background-color: #E9DB97;
}

ul li {
    margin: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background-color: inherit;
    border: none;
}

.container {
    display: flex;
    flex-direction: row;
    box-shadow: inset 0 0 5px red;
    max-width: 1800px;
    margin: 200px auto 30px;
    gap: 100px;
}

.write,
.read-container {
    width: 40%;
}

.write {
    margin-left: auto;
}

.contents {
    position: relative;
}

.read-container {
    margin-right: auto;
}

.text-area {
    width: 100%;
    padding: 8px 10px;
    font-size: 30px;
    line-height: 43px;
    border-radius: 50px;
    background-color: #A7C38C;
    border: 7px solid rgba(0, 0, 0, .3);
}

.title {
    margin-bottom: 60px;
}

.title .text-area {
    height: 100px;
    line-height: 71px;
    text-align: center;
}

.write .contents .text-area {
    background-image:
        repeating-linear-gradient(#A7C38C, #A7C38C 43px, #e4d5d5 43px, #e4d5d5 44px, white 41px);
}

.contents .text-area {
    min-height: 600px;
}





.read-container {
    box-shadow: 0 0 10px red;
    position: relative;
}

.read {
    width: 100%;
    height: 100%;
    border: 7px solid rgba(0, 0, 0, .3);
    border-radius: 50px;
    font-size: 40px;
    background-color: #6FA789;
    perspective: 1300px;
    overflow: scroll;
}


.read {
    box-sizing: border-box;
    backface-visibility: hidden;
    transition: 1s;
}

.read.front {
    position: absolute;
    margin: 0;
    padding: 0;
    /* transform: rotateY(0deg); */
}

.read.back {
    transform: rotateY(-180deg);
}

.read.front li:active {
    background-color: #618c75;
    border-radius: 20px;
}
/* 
.read-container:hover .read.front {
    transform: rotateY(180deg);
}


.read-container:hover .read.back {
    transform: rotateY(0deg);
} */

.read li {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
}






.list-btn {
    width: 80%;
    position: absolute;
    left: 10%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px red;
}

.back-btn,
.delete-btn {
    font-size: 40px;
}


.storage-btn {
    position: absolute;
    padding: 15px;
    font-size: 30px;
    background-color: rgb(87, 144, 98);
    margin: 0 auto;
    border-radius: 15px 15px 30px 15px;
    border: 7px solid rgba(0, 0, 0, .3);
    bottom: 4px;
    right: -33px;
}

.storage-btn:active {
    background-color: rgb(83, 105, 88);
    border: 7px solid rgba(0, 0, 0, .2);
}